In [2]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import datetime
import pylab

%matplotlib inline
sns.set_style("whitegrid")
# matplotlib.rcParams['font.sans-serif'] = ['SimHei']
# matplotlib.rcParams['axes.unicode_minus'] = False
pylab.mpl.rcParams['font.sans-serif'] = ['SimHei']  # 指定默认字体
pylab.mpl.rcParams['axes.unicode_minus'] = False  # 解决保存图像是负号'-'显示为方块的问题

In [3]:
import os

f = open('../all_data.csv', encoding='gbk')

df1 = pd.read_csv(f)
df1.columns

d:\python36\lib\site-packages\IPython\core\interactiveshell.py:2705: DtypeWarning: Columns (135,231,241,242) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Unnamed: 0', '用户名MD5', '身份证号MD5', '职业', '芝麻分数', '出生日期', '性别', '下单时间',
       '商品名称', '商品品牌',
       ...
       'AG001001_1', 'AA001016_1', 'AA001015_1', 'AA002001_1', 'AI003003_1',
       'AK001002_1', 'AK001003_1', 'AI003004_1', 'AK001009_1', 'AK001006_1'],
      dtype='object', length=497)

In [4]:
df6 = pd.DataFrame(df1.columns)

df6.columns = ['字段名']
df6 = df6.drop([0])

In [5]:

f = open('../风控样本数据.csv', encoding='gbk')

df2 = pd.read_csv(f)
df2.shape

d:\python36\lib\site-packages\IPython\core\interactiveshell.py:2705: DtypeWarning: Columns (27,30,33,40,45,50,54,55,59,70,528,550) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(89212, 638)

In [6]:
f = open('../风控样本数据字典.csv', encoding='gbk')

df3 = pd.read_csv(f)
df3.shape

(797, 5)

In [7]:
df4 = pd.DataFrame(df2.columns)
df4.columns = {'字段名'}

In [8]:
df5 = pd.DataFrame(df3['字段名'])
df7 = pd.DataFrame(df3['中文含义'])
df7.columns = ['字段名']

In [9]:
df8 = pd.merge(df4,df5,on='字段名')

In [10]:

df9 = pd.concat([df3, df8], axis=1, join='inner')
df9 = pd.DataFrame(df9['中文含义'])
df9

                    中文含义
0                     标识
1             已知数据样本通过与否
2                   用户id
3                    用户名
4                 用户名MD5
5                   用户年龄
6                  身份证姓名
7                 用户身份证号
8                身份证号MD5
9                     生日
10                    性别
11        一线城市公司的地址与户籍匹配
12                一线城市户籍
13                    职业
14             用户手机号码MD5
15                 用户手机号
16                 收货人姓名
17                 收货人号码
18                  芝麻分数
19       在系统内近六个月被机审拒绝次数
20       在系统内近一个月被人审拒绝次数
21                   收货市
22                   收货省
23                   收货区
24                订单号MD5
25                   订单号
26                 总逾期天数
27                 总逾期罚金
28                订单逾期状态
29                 总逾期次数
..                   ...
512    18个月内租赁人在多个平台申请借款
513     1个月内租赁人在多个平台申请借款
514    24个月内租赁人在多个平台申请借款
515     3个月内租赁人在多个平台申请借款
516    60个月内租赁人在多个平台申请借款
517     6个月内租赁人在多个平台申请借款
518      7天内租赁人在多个平台申请借款
519  12个月内申请人在银行其他业务申请次数
520  18个月内申请人在银行其他业务申请次数
521   1个月内申请人在银行其他业务申请次数
522  24个月内申请人在银行其他业务申请次数
523   3个月内申请人在银行其他业务申请次数
524   6个月内申请人在银行其他业务申请次数
525    7天内申请人在银行其他业务申请次数
526   12个月内申请人在P2P网贷申请次数
527   18个月内申请人在P2P网贷申请次数
528    1个月内申请人在P2P网贷申请次数
529   24个月内申请人在P2P网贷申请次数
530    3个月内申请人在P2P网贷申请次数
531    6个月内申请人在P2P网贷申请次数
532     7天内申请人在P2P网贷申请次数
533  12个月内申请人在小额贷款公司申请次数
534  18个月内申请人在小额贷款公司申请次数
535   1个月内申请人在小额贷款公司申请次数
536  24个月内申请人在小额贷款公司申请次数
537   3个月内申请人在小额贷款公司申请次数
538   6个月内申请人在小额贷款公司申请次数
539    7天内申请人在小额贷款公司申请次数
540    12个月内申请人在多个平台申请次数
541    18个月内申请人在多个平台申请次数

[542 rows x 1 columns]

In [11]:
pd.merge(df6,df8,on='字段名')

Empty DataFrame
Columns: [字段名]
Index: []

In [12]:
df6

               字段名
1           用户名MD5
2          身份证号MD5
3               职业
4             芝麻分数
5             出生日期
6               性别
7             下单时间
8             商品名称
9             商品品牌
10            官网价格
11             收货省
12             收货市
13             收货区
14              月租
15            总账期数
16          意外保障价格
17            订单状态
18            首付时间
19            总风险分
20          花呗当前状态
21          花呗冻结金额
22           总逾期罚金
23           总逾期天数
24           总逾期次数
25     芝麻行业关注_风险ID
26     芝麻行业关注_查询分数
27   芝麻行业关注_查询扩展结果
28      芝麻反欺诈_风险ID
29      芝麻反欺诈_查询分数
30    芝麻反欺诈_查询扩展结果
..             ...
467     AA001011_1
468     AE001003_1
469     AA001005_1
470     AA001006_1
471     AA001004_1
472     AA001007_1
473     AE001004_1
474     AI003001_1
475     AE001006_1
476     AF003001_1
477     AG002001_1
478     AA001012_1
479     AI003002_1
480     AE001007_1
481     AD001003_1
482     AA001013_1
483     AE001005_1
484     AA001014_1
485     AD001004_1
486     AG003001_1
487     AG001001_1
488     AA001016_1
489     AA001015_1
490     AA002001_1
491     AI003003_1
492     AK001002_1
493     AK001003_1
494     AI003004_1
495     AK001009_1
496     AK001006_1

[496 rows x 1 columns]

In [13]:
df8

                                   字段名
0                       l_order_id_md5
1                     l_user_phone_md5
2                    l_user_idcard_md5
3                        l_user_gender
4                    l_user_occupation
5                   l_user_zhima_score
6                         l_goods_name
7                        l_goods_brand
8                   l_goods_final_cost
9                  l_order_price_per_m
10               l_order_total_payment
11                l_order_price_ensure
12              l_order_time_first_pay
13                      l_huabei_state
14               l_huabei_freeze_money
15                     l_huabei_freeze
16             l_order_overdue_m_state
17             l_order_overdue_forfeit
18                                 tag
19                          l_order_id
20                    r_zmwatch_riskid
21                     r_zmwatch_score
22                    r_zmwatch_result
23                        r_ivs_riskid
24                         r_ivs_score
25                        r_ivs_result
26                        r_das_riskid
27                         r_das_score
28                        r_das_result
29                         r_td_riskid
..                                 ...
512         r_td_phone_carlease_breach
513                  r_td_phone_casual
514      r_td_phone_loan_overdue_repay
515             r_td_dcp_apply_many_7d
516             r_td_dcp_apply_many_1m
517      r_td_idcard_apply_many_dev_1d
518      r_td_idcard_apply_many_dev_7d
519      r_td_idcard_apply_many_dev_1m
520        r_td_platform_apply_many_7d
521        r_td_platform_apply_many_1m
522        r_td_platform_apply_many_3m
523        r_td_platform_apply_many_6m
524       r_td_platform_apply_many_12m
525       r_td_platform_apply_many_18m
526       r_td_platform_apply_many_24m
527       r_td_platform_apply_many_60m
528             r_td_addr_intermediary
529             r_td_addr_loan_overdue
530  r_td_idcard_relation_many_addr_1m
531   r_td_phone_relation_many_addr_1m
532               r_td_applicate_score
533                    r_td_area_score
534              r_td_credit_ovd_score
535                 r_td_midrisk_score
536              r_td_court_risk_score
537           r_td_area_highrisk_score
538                         r_td_other
539                       r_td_opinion
540                   r_td_total_score
541                 r_td_riskid_detail

[542 rows x 1 columns]

In [66]:
df8

                                   字段名
0                       l_order_id_md5
1                     l_user_phone_md5
2                    l_user_idcard_md5
3                        l_user_gender
4                    l_user_occupation
5                   l_user_zhima_score
6                         l_goods_name
7                        l_goods_brand
8                   l_goods_final_cost
9                  l_order_price_per_m
10               l_order_total_payment
11                l_order_price_ensure
12              l_order_time_first_pay
13                      l_huabei_state
14               l_huabei_freeze_money
15                     l_huabei_freeze
16             l_order_overdue_m_state
17             l_order_overdue_forfeit
18                                 tag
19                          l_order_id
20                    r_zmwatch_riskid
21                     r_zmwatch_score
22                    r_zmwatch_result
23                        r_ivs_riskid
24                         r_ivs_score
25                        r_ivs_result
26                        r_das_riskid
27                         r_das_score
28                        r_das_result
29                         r_td_riskid
..                                 ...
512         r_td_phone_carlease_breach
513                  r_td_phone_casual
514      r_td_phone_loan_overdue_repay
515             r_td_dcp_apply_many_7d
516             r_td_dcp_apply_many_1m
517      r_td_idcard_apply_many_dev_1d
518      r_td_idcard_apply_many_dev_7d
519      r_td_idcard_apply_many_dev_1m
520        r_td_platform_apply_many_7d
521        r_td_platform_apply_many_1m
522        r_td_platform_apply_many_3m
523        r_td_platform_apply_many_6m
524       r_td_platform_apply_many_12m
525       r_td_platform_apply_many_18m
526       r_td_platform_apply_many_24m
527       r_td_platform_apply_many_60m
528             r_td_addr_intermediary
529             r_td_addr_loan_overdue
530  r_td_idcard_relation_many_addr_1m
531   r_td_phone_relation_many_addr_1m
532               r_td_applicate_score
533                    r_td_area_score
534              r_td_credit_ovd_score
535                 r_td_midrisk_score
536              r_td_court_risk_score
537           r_td_area_highrisk_score
538                         r_td_other
539                       r_td_opinion
540                   r_td_total_score
541                 r_td_riskid_detail

[542 rows x 1 columns]

In [64]:
df11 = pd.concat([df10, df8], axis=1, join='inner')
df11.columns = ['字段名','中文']
df12 = df11['中文']
df_1 = df1[df10]
df_2 = df2[df12]
target_cols = ['总逾期罚金', '总逾期天数', '总逾期次数']
expired_day_thresh = 14
target_df = df_1[target_cols]
df_1 = df_1.drop(target_cols, axis=1)
df_1['target'] = target_df['总逾期天数'] > expired_day_thresh
df_1['target'] = df_1['target'].apply(lambda x: 1 if x == True else 0)

df_2 = df_2.dropna(subset=['tag'])     
df_2['target'] = df_2['tag'].apply(lambda x: 1 if x == 'nopass' else 0)
df_2 = df_2.drop(['tag'], axis=1)
df_1.shape

(5100, 134)

In [65]:
df11

                     字段名                       中文
0                 用户名MD5           l_order_id_md5
1                身份证号MD5         l_user_phone_md5
2                     职业        l_user_idcard_md5
3                   芝麻分数            l_user_gender
4                     性别        l_user_occupation
5                   下单时间       l_user_zhima_score
6                   商品名称             l_goods_name
7                   商品品牌            l_goods_brand
8                   官网价格       l_goods_final_cost
9                    收货省      l_order_price_per_m
10                   收货市    l_order_total_payment
11                   收货区     l_order_price_ensure
12                    月租   l_order_time_first_pay
13                  总账期数           l_huabei_state
14                意外保障价格    l_huabei_freeze_money
15                  订单状态          l_huabei_freeze
16                  首付时间  l_order_overdue_m_state
17                  总风险分  l_order_overdue_forfeit
18                花呗当前状态                      tag
19                花呗冻结金额               l_order_id
20                 总逾期罚金         r_zmwatch_riskid
21                 总逾期天数          r_zmwatch_score
22                 总逾期次数         r_zmwatch_result
23            芝麻反欺诈_风险ID             r_ivs_riskid
24            芝麻反欺诈_查询分数              r_ivs_score
25          芝麻反欺诈_查询扩展结果             r_ivs_result
26            芝麻DAS_风险ID             r_das_riskid
27            芝麻DAS_查询分数              r_das_score
28          芝麻DAS_查询扩展结果             r_das_result
29               同盾_风险ID              r_td_riskid
..                   ...                      ...
106       租赁人身份证命中犯罪通缉名单             r_ivs_bc_001
107   租赁人身份证命中欠税公司法人代表名单             r_ivs_bc_002
108           手机号命中虚假号码库             r_ivs_bc_003
109           手机号命中虚假号码库             r_ivs_ad_001
110  租赁人身份证对应人存在助学贷款欠费历史              r_ivs_ph_na
111              手机号疑似乱填           r_ivs_ph_cn_um
112         租赁人身份证命中欠税名单     r_ivs_ph_cn_ma_ul30d
113     租赁人身份证命中车辆租赁违约名单     r_ivs_ph_cn_ma_ul90d
114        手机号命中车辆租赁违约名单    r_ivs_ph_cn_ma_ul180d
115        手机号命中车辆租赁违约名单           r_ivs_ad_cn_uk
116           手机号命中通信小号库             r_ivs_ip_001
117           手机号命中通信小号库             r_ivs_ip_002
118            手机号格式校验错误             r_ivs_ip_003
119            手机号格式校验错误             r_ivs_ip_004
120           索伦_历史查询总次数             r_ivs_ip_005
121        索伦_线上消费分期出现次数             r_ivs_ip_006
122        索伦_线下消费分期出现次数             r_ivs_ip_007
123         索伦_信用卡代还出现次数             r_ivs_ip_008
124         索伦_小额快速贷出现次数           r_ivs_ip_jj_01
125         索伦_线上现金贷出现次数           r_ivs_ip_jj_02
126         索伦_线下现金贷出现次数           r_ivs_ip_jj_03
127                索伦_其他             r_ivs_im_001
128               索伦_葫芦分             r_ivs_im_003
129             索伦_直接联系人             r_ivs_im_004
130     索伦_直接联系人在黑名单中的数量             r_ivs_im_005
131     索伦_间接联系人在黑名单中的数量           r_ivs_im_jj_01
132    索伦_认识间接黑人的直接联系人个数           r_ivs_im_jj_02
133    索伦_认识间接黑人的直接联系人比例           r_ivs_mc_cn_uk
134        最近一年手机充值支付总笔数           r_ivs_mc_cn_nm
135       最近六个月主动查询金融机构数           r_ivs_mc_cn_ma

[136 rows x 2 columns]

In [69]:
df_2.shape

(89208, 136)

In [113]:
target_cols = ['总逾期罚金', '总逾期天数', '总逾期次数']
expired_day_thresh = 14
target_df = df1[target_cols]
df1_1 = df1.drop(target_cols, axis=1)
df1_1['target'] = target_df['总逾期天数'] > expired_day_thresh
df1_1['target'] = df1_1['target'].apply(lambda x: 1 if x == True else 0)

df2_1 = df2.dropna(subset=['tag'])     
df2_1['target'] = df2_1['tag'].apply(lambda x: 1 if x == 'nopass' else 0)
df2_1 = df2_1.drop(['tag'], axis=1)

df3_1 = df3[['字段名','中文含义']]

d:\python36\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

# 表1，表2带标签

In [86]:
col1 = pd.DataFrame(df1_1.columns)
col1 = col1.drop([0])
col1.columns = ['中文含义']

col2 = pd.DataFrame(df2_1.columns)
col2.columns = ['字段名']

In [110]:
df3_2 = df3_1.merge(col1, on='中文含义')
df3_3 = df3_2.merge(col2, on = '字段名')

# 裁剪表1，表2

In [138]:
df1_2 = df1_1[df3_3['中文含义']]
df1_2['target'] = df1_1['target']

df2_2 = df2_1[df3_3['字段名']]
df2_2['target'] = df2_1['target']

df1_2.columns = df2_2.columns

d:\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

d:\python36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [139]:
df = pd.concat([df1_2,df2_2])

In [174]:
df = pd.read_csv('../concatDate.csv')

In [177]:
df[df.columns].unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [179]:
binary_convert_cols = []
for col in df:
    if col == 'l_order_id':
        continue
    if len(df[col].unique()) > 1000:
        binary_convert_cols.append(col)
        df[col] = df[col].notnull()
           
print('binary_convert_cols:', binary_convert_cols)

binary_convert_cols: ['Unnamed: 0', 'l_user_idcard_md5', 'l_user_occupation', 'l_order_time_first_pay', 'r_br_riskid', 'r_das_riskid', 'r_ivs_riskid', 'r_jimi_riskid', 'r_sl_contact_order2_inblack_cnt', 'r_sl_riskid', 'r_td_applicate_score', 'r_td_riskid', 'r_zmwatch_riskid']

In [186]:
df['r_zmwatch_riskid'].unique()

array([ True, False], dtype=bool)

In [188]:
df2_2[df2_2['target'] == 0]

,l_user_idcard_md5,l_user_gender,l_user_occupation,l_user_zhima_score,l_order_price_ensure,l_order_price_per_m,l_order_time_first_pay,l_order_total_payment,l_goods_brand,l_goods_final_cost,...,r_td_platform_apply_many_6m,r_td_platform_apply_many_7d,r_td_result,r_td_riskid,r_td_score,r_td_total_score,r_zmwatch_result,r_zmwatch_riskid,r_zmwatch_score,target
2,1c9284b71606d05d98171661a519c8dd,男,NaN,639.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,0.0,10.0,Review,4069669.0,56.0,56.0,NaN,4069665.0,True,0
3,9183409dc50a6c7fb918eddac7f5ef20,男,NaN,687.0,898.0,399.0,2017/11/20 22:00:24,12.0,Apple,8388.0,...,NaN,NaN,Accept,4086043.0,0.0,NaN,NaN,4086039.0,False,0
4,df449bb198bde7b6c193c3969494d35e,女,学生,612.0,298.0,239.0,NaN,NaN,美图,4099.0,...,NaN,NaN,Accept,4092582.0,4.0,4.0,NaN,4092573.0,False,0
10,f4e9fbcfc71b4694a924534c7323d9bc,男,NaN,719.0,198.0,179.0,2017/11/20 15:13:56,12.0,OPPO,2999.0,...,0.0,NaN,Accept,4080300.0,15.0,15.0,NaN,4080282.0,False,0
13,da239fa09cbc32c6ef8c649679513de0,男,建筑业,608.0,299.0,309.0,NaN,NaN,三星,5688.0,...,0.0,10.0,Review,4065290.0,68.0,68.0,NaN,4065279.0,False,0
14,7913c9bb7841cc28eed8bf768838c3bc,女,NaN,661.0,1298.0,469.0,NaN,NaN,Apple,9688.0,...,NaN,NaN,Accept,4091902.0,6.0,6.0,NaN,4091898.0,False,0
15,0ed54aad40c6ee002f69c96100e7bb4b,男,NaN,733.0,298.0,279.0,2017/11/18 15:20:07,12.0,华为,4499.0,...,NaN,NaN,Accept,4080314.0,0.0,NaN,NaN,4080310.0,False,0
18,3f4d59a692c0aa4f6496abb5476c79e1,男,质检员,602.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Accept,4076932.0,11.0,11.0,NaN,4076926.0,False,0
21,5d101e46da3ee9e0829291eb1654508a,男,自主运营,677.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,0.0,NaN,Accept,4068498.0,10.0,10.0,NaN,4068491.0,True,0
24,276cdb0c9a59b6d5e820debd3f3c7903,男,NaN,601.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,0.0,10.0,Review,4068101.0,39.0,39.0,NaN,4068097.0,False,0
25,c6472f56bd25bde83688792ddd9a6266,男,NaN,675.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,0.0,30.0,Reject,4072553.0,103.0,103.0,NaN,4072546.0,False,0
26,d67b44df9c014eb4b566b8b90aad14a4,男,NaN,660.0,298.0,339.0,NaN,NaN,Apple,7188.0,...,0.0,15.0,Reject,4068141.0,204.0,204.0,NaN,4068134.0,False,0
27,427c330fe8d9150547f3318b0c9a0534,男,NaN,662.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,0.0,NaN,Review,4069200.0,71.0,71.0,NaN,4069196.0,False,0
28,f44bf272fea65ef16160b5515b7c9804,女,NaN,667.0,298.0,319.0,2017/11/18 16:39:51,12.0,Apple,6688.0,...,NaN,NaN,Accept,4083349.0,0.0,NaN,NaN,4083342.0,False,0
30,55d116e6c0bb0709c2fc143833c7c664,男,服务业,638.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,0.0,30.0,Reject,4089729.0,106.0,106.0,NaN,4089725.0,False,0
32,45e414ab208cf671f14fbb1185811f0f,男,NaN,696.0,299.0,399.0,NaN,NaN,三星,6988.0,...,NaN,NaN,Accept,4091265.0,0.0,NaN,NaN,4091261.0,False,0
33,a67bb320ebefce99b773ddf55879fc70,男,司机,604.0,198.0,209.0,NaN,NaN,vivo,3498.0,...,0.0,10.0,Reject,4073044.0,173.0,173.0,NaN,4073040.0,False,0
34,5d23f69f048277df2e765ff0fbf3427d,男,NaN,640.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,0.0,30.0,Reject,4090105.0,92.0,92.0,NaN,4090101.0,False,0
36,26a2dc3d6018b8d7117448e33bba7a0e,男,NaN,608.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,0.0,NaN,Reject,4065612.0,91.0,91.0,NaN,4065589.0,False,0
38,7ac80da098ba127f6861d975d284ac32,男,NaN,659.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Accept,4088769.0,6.0,6.0,NaN,4088765.0,False,0
41,f4b7df34b8159ff4079f60d0b6ab475d,男,NaN,680.0,298.0,279.0,NaN,NaN,Apple,5888.0,...,0.0,15.0,Review,4068619.0,71.0,71.0,NaN,4068615.0,False,0
44,45d36f9c26f820d9a5d3e5ea1818e7b9,男,NaN,639.0,149.0,169.0,NaN,NaN,Apple,3299.0,...,0.0,20.0,Reject,4091502.0,90.0,90.0,NaN,4091498.0,False,0
45,fa511a485f95958be1167387508e458c,男,NaN,656.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,0.0,30.0,Review,4065284.0,75.0,75.0,NaN,4065275.0,False,0
46,dd38be1f68ea1a75cfc45937ba6ba5db,男,NaN,770.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,0.0,30.0,Reject,4084825.0,88.0,88.0,NaN,4084821.0,False,0
47,875ad0175f0f0b88dbbeb2ac13634f5a,男,农业,674.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,0.0,10.0,Review,4086394.0,27.0,27.0,NaN,4086390.0,False,0
50,a68454822a52b20033f1793f7ec5b76a,男,NaN,682.0,1298.0,469.0,2017/11/21 14:32:34,12.0,Apple,9688.0,...,0.0,10.0,Review,4082598.0,20.0,20.0,NaN,4082591.0,False,0
52,a778ab9832a2b8de5045b36fb4176f5a,男,NaN,664.0,199.0,149.0,NaN,NaN,Apple,3288.0,...,0.0,20.0,Reject,4090636.0,89.0,89.0,NaN,4090632.0,False,0
53,1d981a902dc0be29beb7597393245c5e,男,美甲师,713.0,1298.0,469.0,NaN,NaN,Apple,9688.0,...,0.0,30.0,Review,4084942.0,73.0,73.0,NaN,4084938.0,False,0
54,54bfe23edd7967ec2db843f91a3e5e9b,男,NaN,810.0,898.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Review,4077300.0,48.0,48.0,NaN,4077296.0,False,0
56,7040b1eb59dccaa548a561050caf8c87,男,NaN,606.0,299.0,309.0,NaN,NaN,三星,5688.0,...,0.0,30.0,Reject,4067121.0,89.0,89.0,NaN,4067117.0,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89172,e6669b1f4b94df9fd9741182efefb3a6,男,个体,601.0,198.0,199.0,NaN,NaN,OPPO,3199.0,...,NaN,NaN,Reject,4745399.0,143.0,143.0,NaN,4745394.0,False,0
89173,1bbe5a6b5b53ca6ed6804971678d5f2f,男,采购,605.0,298.0,339.0,NaN,NaN,华为,5399.0,...,NaN,NaN,Reject,4750924.0,104.0,104.0,NaN,4750919.0,False,0
89174,e2dec75e60d16233e5c6179773f67d5c,男,NaN,670.0,198.0,179.0,NaN,NaN,OPPO,2999.0,...,NaN,NaN,Review,4743249.0,27.0,27.0,NaN,4743202.0,True,0
89176,fb50b7c1ccd250e7f9e17518189eb622,男,个体经营户,624.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Reject,4750981.0,83.0,83.0,NaN,4750974.0,False,0
89177,bbb87d5ac1fba23ef9e2d8a862b2e51f,男,专员,626.0,198.0,209.0,NaN,NaN,vivo,3498.0,...,NaN,NaN,Reject,4744834.0,97.0,97.0,NaN,4744829.0,False,0
89180,2ce2d0378e999953916a7c35761fea5c,男,NaN,613.0,398.0,469.0,NaN,NaN,Apple,9688.0,...,NaN,NaN,Accept,4752225.0,11.0,11.0,NaN,4752220.0,False,0
89181,26dd61c61b4177f3e355d4dc18061980,男,NaN,678.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Review,4753245.0,44.0,44.0,NaN,4753234.0,False,0
89182,86c8bfa1898d5d99def621fda596267d,女,销售,669.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Review,4746849.0,75.0,75.0,NaN,4746844.0,False,0
89184,e26aa6367afc54fa93a2698c4ee7f1d4,男,操作工,608.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Review,4752332.0,31.0,31.0,NaN,4752314.0,True,0
89186,a3dbffd6c23005bee4e3e04b5e4a81dc,男,NaN,677.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Reject,4752082.0,96.0,96.0,NaN,4752077.0,False,0
89187,49c6d4193ca4b32f692c79c42cf3fafc,男,教练员,683.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Reject,4744567.0,141.0,141.0,NaN,4744562.0,False,0
89188,bddce6a7a851781f625672387e81e73d,女,NaN,668.0,398.0,469.0,NaN,NaN,Apple,9688.0,...,NaN,NaN,Accept,4750421.0,8.0,8.0,NaN,4750416.0,False,0
89189,2b6594b42c31b593b46aabfea00643a9,男,NaN,614.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Reject,4753803.0,202.0,202.0,NaN,4753798.0,False,0
89190,31b31260280cdb86ebc4d79aa28fb3a0,女,NaN,711.0,398.0,469.0,NaN,NaN,Apple,9688.0,...,NaN,NaN,Reject,4747606.0,126.0,126.0,NaN,4747601.0,False,0
89192,c4d315bd8c5c23e0a8b1e12e61dbdd98,男,NaN,647.0,298.0,319.0,NaN,NaN,Apple,6688.0,...,NaN,NaN,Review,4744195.0,30.0,30.0,NaN,4744190.0,False,0
89193,7687319f04425f1d3b1b6556e684f361,男,It,684.0,298.0,319.0,NaN,NaN,Apple,6688.0,...,NaN,NaN,Accept,4747656.0,19.0,19.0,NaN,4747651.0,False,0
89194,c5be8a704f9f57e0c30f9cc53266a985,男,NaN,736.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Review,4745811.0,20.0,20.0,NaN,4745802.0,False,0
89197,89f30a0ea871f15c6c89e5fcb33ce09c,女,教育,698.0,398.0,469.0,NaN,NaN,Apple,9688.0,...,NaN,NaN,Review,4749407.0,59.0,59.0,NaN,4749402.0,True,0
89198,a0cac198575e4c15c99422b77291d7b8,女,NaN,650.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Review,4744150.0,25.0,25.0,NaN,4744145.0,False,0
89201,e8ed0a1c3a52d3949782923b672c4dc4,男,NaN,610.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Review,4748812.0,65.0,65.0,NaN,4748807.0,True,0
89202,7eb5480c66b5ef2ef4c45c9308c2bce7,男,NaN,651.0,199.0,199.0,NaN,NaN,Apple,4388.0,...,NaN,NaN,Reject,4745733.0,96.0,96.0,NaN,4745728.0,True,0
89203,77861c689906f59b6b1f5e3690173887,女,客户经理,635.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Review,4751114.0,54.0,54.0,NaN,4751109.0,False,0
89204,b8f6e90551c2c7b4b9ebdf66aa67de66,男,NaN,615.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Accept,4743468.0,16.0,16.0,NaN,4743413.0,False,0
89205,3b2bebab91cae36d015dcfe9d38c75e2,女,NaN,746.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Accept,4746471.0,12.0,12.0,NaN,4746466.0,False,0
89206,bd02302336fdaa3238a33fac670d5ddc,女,NaN,653.0,398.0,399.0,2017/12/13 15:54:32,12.0,Apple,8388.0,...,NaN,NaN,Accept,4751080.0,5.0,5.0,NaN,4751075.0,False,0
89207,d3baa0d3b98d9bc2a587698403e04193,男,NaN,621.0,199.0,259.0,NaN,NaN,Apple,5088.0,...,NaN,NaN,Review,4744700.0,59.0,59.0,NaN,4744695.0,False,0
89208,88363b21d36dfa9ae5ddf23b0198c96c,男,个体户,658.0,99.0,99.0,NaN,NaN,Apple,2099.0,...,NaN,NaN,Review,4753886.0,30.0,30.0,NaN,4753879.0,False,0
89209,6c4e23ef2de7f08696cd6d45be120bfa,男,NaN,622.0,398.0,469.0,NaN,NaN,Apple,9688.0,...,NaN,NaN,Reject,4745338.0,135.0,135.0,NaN,4745333.0,True,0
89210,bfb4c5df42da1e119098beaaab0c956e,男,厨师,639.0,398.0,469.0,NaN,NaN,Apple,9688.0,...,NaN,NaN,Review,4752578.0,20.0,20.0,NaN,4752573.0,False,0
89211,8c0b53719541f0a8d8a562844cc3917a,男,销售,641.0,398.0,399.0,NaN,NaN,Apple,8388.0,...,NaN,NaN,Reject,4746163.0,204.0,204.0,NaN,4746154.0,False,0